<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.shopping.mall.dao.ProductTypeDao">
   
    <resultMap id="ProductTypeBaseResultMap" type="com.shopping.mall.model.ProductType" >
        <id column="id" property="id" jdbcType="INTEGER" /> 
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" /> 
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <association column="categoryid" property="productCategory" javaType="com.shopping.mall.model.ProductCategory" select="com.shopping.mall.dao.ProductCategoryDao.findOne">
		</association>
     </resultMap>
     
	<select id="findAll" resultMap="ProductTypeBaseResultMap">
		select *
		from producttype
	</select>

    <select id="add" parameterType="com.shopping.mall.model.ProductType">
		insert into producttype(name, picture, categoryid, remarks)
        values (#{name,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{productCategory.id,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
	</select>
    
	<select id="save" parameterType="com.shopping.mall.model.ProductType">
        update producttype set name = #{name,jdbcType=VARCHAR}, picture = #{picture,jdbcType=INTEGER}, 
               remarks = #{remarks,jdbcType=VARCHAR},
               categoryid = #{productCategory.id,jdbcType=INTEGER}
         where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer" >
        delete from producttype
        where id = #{id,jdbcType=INTEGER}
    </delete>	
		 
	<select id="findProductTypeListByName" parameterType="java.lang.String" resultMap="ProductTypeBaseResultMap">
		select *
		from producttype, productcategory 
		where producttype.categoryid = productcategory.id and producttype.name=#{name}
	</select>	 
		 
	<select id="findOne" parameterType="java.lang.Integer" resultMap="ProductTypeBaseResultMap">
		select *
		from producttype, productcategory 
		where producttype.categoryid = productcategory.id and producttype.id=#{id}
	</select>
	
	<select id="deleteProductTypes"  parameterType="java.util.List"> 
		delete from producttype where id in 
		<foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
				#{id}
		</foreach>

	</select>
	
	<select id="findProductTypeListByCategoryId" parameterType="java.lang.Integer" resultMap="ProductTypeBaseResultMap">
		select *
		from producttype t, productcategory c where t.categoryid = c.id and c.id = #{id}
	</select>
	
    <select id="findProductTypeListByCategoryName" parameterType="java.lang.String" resultMap="ProductTypeBaseResultMap">
		select *
		from producttype t, productcategory c where t.categoryid = c.id and c.name = #{name}
	</select>
	
</mapper>